volumes:
  pg_data:

services:
  db:
    image: postgres:16.9
    env_file: .env
    ports:
      - 5432:5432
    volumes:
      - pg_data:/var/lib/postgresql/data/
  redis:
    image: redis:7-alpine
    ports:
      - 6379:6379
    volumes:
      - ./redis_data:/local-data/
  backend:
    build:
      context: backend/
    env_file:
      - .env
    environment:
      DB_HOST: db
      REDIS_HOST: redis
    depends_on:
      - db
    ports:
      - 8000:8000
    volumes:
      - ./static:/static
      - ./media:/media
  worker:
    build:
      context: backend/
    env_file:
      - .env
    environment:
      DB_HOST: db
      REDIS_HOST: redis
    depends_on:
      - db
      - redis
    command: uv run celery -A project worker --loglevel info
    volumes:
      - ./static:/static
      - ./media:/media
  beat:
    build:
      context: backend/
    env_file:
      - .env
    environment:
      DB_HOST: db
      REDIS_HOST: redis
    depends_on:
      - db
      - redis
    command: uv run celery -A project beat -l info
    volumes:
      - ./static:/static
      - ./media:/media
  gateway:
    build: ./infra/
    volumes:
      - ./static:/static
      - ./media:/media
    depends_on:
      - backend
    ports:
      - 80:80
